<link href="/assets/application.css" media="all" rel="stylesheet"
type="text/css" />

<div class="center hero-unit">
	<h1>Aplicación demo Rails</h1>
	
	<h2>
		Esta es la página principal para el  
		<a href="http://railstutorial.org/">Tutorial Ruby on Rails</a> de la aplicación de muestra.
	</h2>

	<%= link_to "¡Registrate ahora!", '#', class: "btn btn-large btn-primary" %>
</div>

<div class="center">
<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
</div>